<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9" style="margin: auto">
      <div class="card" *ngIf="tableResToDetail && clearFromForm !== 'clear'">
        <div class="card-body">
          <div class="card-header">
            <span class="back"
              ><span class="back-arrow" style="text-decoration: none"
                >&#8249;</span
              >
              <span class="back_text" (click)="goBack()">Back</span>
            </span>
            <h4 class="card-title">{{ tableResToDetail.name }}</h4>
            <!-- The svg icon svg is reference from svg tutorial -->
            <div class="icon-box" (click)="fillheart()">
              <svg
                width="25"
                height="25"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                [ngClass]="{ filled: filled }"
              >
                <path
                  d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
                  stroke-width="1"
                  width="15"
                  height="15"
                  fill="currentColor"
                  stroke="black"
                />
              </svg>
            </div>
          </div>
          <mat-tab-group mat-align-tabs="center" backgroundColor="primary">
            <!-- This is the first tab -->
            <mat-tab label="Events">
              <div class="event_tab">
                <div class="event_tab_left">
                  <div
                    id="date"
                    class="event_element"
                    *ngIf="tableResToDetail.dates.start"
                  >
                    <label class="event_element_label">Date</label>
                    <div class="event_element_text">
                      {{ tableResToDetail.dates.start.localDate }}
                      {{
                        tableResToDetail.dates.start.localTime !== undefined
                          ? tableResToDetail.dates.start.localTime
                          : ""
                      }}
                    </div>
                  </div>
                  <div
                    id="artist"
                    class="event_element"
                    *ngIf="
                      tableResToDetail._embedded.attractions &&
                      tableResToDetail._embedded.attractions.length > 0
                    "
                  >
                    <label class="event_element_label">Artists/Team</label>
                    <div class="event_element_text">
                      <ng-container
                        *ngFor="let artist of getAttractionsNames()"
                      >
                        {{ artist }}
                      </ng-container>
                    </div>
                  </div>
                  <div
                    id="Venue"
                    class="event_element"
                    *ngIf="
                      tableResToDetail._embedded.venues &&
                      tableResToDetail._embedded.venues.length > 0 &&
                      tableResToDetail._embedded.venues[0]
                    "
                  >
                    <label class="event_element_label">Venue</label>
                    <div class="event_element_text">
                      {{ tableResToDetail._embedded.venues[0].name }}
                    </div>
                  </div>
                  <div
                    id="Genres"
                    class="event_element"
                    *ngIf="generateGenre() && generateGenre().length > 0"
                  >
                    <label class="event_element_label">Genres</label>
                    <div class="event_element_text">
                      {{ generateGenre() }}
                    </div>
                  </div>
                  <div
                    id="Price Ranges"
                    class="event_element"
                    *ngIf="whetherDisplayPriceRange()"
                  >
                    <label class="event_element_label">Price Ranges</label>
                    <div class="event_element_text">
                      {{ tableResToDetail.priceRanges[0].min }} -
                      {{ tableResToDetail.priceRanges[0].max }}
                    </div>
                  </div>
                  <div
                    id="Ticket Status"
                    class="event_element"
                    *ngIf="TicketStatus()"
                  >
                    <label class="event_element_label">Ticket Status</label>
                    <div
                      class="event_element_text"
                      style="
                        border-radius: 5px;
                        max-width: 100px;
                        text-align: center;
                        margin-inline: auto;
                      "
                      [style.backgroundColor]="TicketStatus()?.backgroundColor"
                    >
                      {{ TicketStatus()?.status_detail_label }}
                    </div>
                  </div>
                  <div
                    id="Buy Ticket At"
                    class="event_element"
                    *ngIf="tableResToDetail?.url"
                  >
                    <label class="event_element_label">Buy Ticket At</label>
                    <div class="event_element_text">
                      <a
                        [href]="tableResToDetail.url"
                        target="_blank"
                        style="text-decoration: underline"
                        >Ticketmaster</a
                      >
                    </div>
                  </div>
                </div>
                <div class="event_tab_right">
                  <img
                    *ngIf="
                      tableResToDetail.seatmap &&
                      tableResToDetail.seatmap.staticUrl !== undefined
                    "
                    [src]="tableResToDetail.seatmap.staticUrl"
                    class="seatMapImage"
                  />
                </div>
              </div>
              <div class="facebook_image">
                <span style="font-size: large">Share On: </span>
                <a
                  href="https://twitter.com/intent/tweet?text=Check {{
                    tableResToDetail.name
                  }} on Ticketmaster&url={{ tableResToDetail.url }}"
                  target="_blank"
                >
                  <i class="fa fa-2x fa-twitter"></i>
                </a>
                <a
                  href="https://www.facebook.com/sharer/sharer.php?u={{
                    tableResToDetail.url
                  }}&amp;src=sdkpreparse"
                  target="_blank"
                >
                  <i class="m-2 fa fa-2x fa-facebook-square"></i>
                </a>
              </div>
            </mat-tab>
            <!-- This is the second tab -->
            <mat-tab label="Artists/Teams">
              <div
                *ngIf="
                  tableResToDetailSpotify &&
                  tableResToDetailSpotify.length === 0
                "
                class="noResultArtist"
              >
                No music related artist details to show
              </div>
              <!-- The carousel effect structure mainly borrow from provided tutorial -->
              <div
                *ngIf="
                  tableResToDetailSpotify && tableResToDetailSpotify.length > 0
                "
                id="carouselExampleControls"
                class="carousel slide"
                data-ride="carousel"
                data-interval="false"
              >
                <div class="carousel-inner">
                  <div
                    class="carousel-item"
                    *ngFor="let array of tableResToDetailSpotify; let j = index"
                    [ngClass]="{ active: j === 0 }"
                  >
                    <div class="tab_container">
                      <div class="tab_container_first_row">
                        <div
                          class="tab_element_combo"
                          *ngIf="
                            tableResToDetailSpotify[j][0].images &&
                            tableResToDetailSpotify[j][0].images[2] &&
                            tableResToDetailSpotify[j][0].images[2].url
                          "
                        >
                          <img
                            *ngIf="tableResToDetailSpotify[j][0].images"
                            [src]="tableResToDetailSpotify[j][0].images[2].url"
                            class="circle_image"
                          />
                          <div class="tab_element_combo_title">
                            {{ tableResToDetailSpotify[j][0].name }}
                          </div>
                        </div>
                        <div
                          class="tab_element_combo"
                          *ngIf="tableResToDetailSpotify[j][0].popularity"
                        >
                          <div class="tab_element_combo_title1">Popularity</div>
                          <div class="spinnner_box">
                            <mat-progress-spinner
                              class="example-margin custom_size"
                              color="accent"
                              mode="determinate"
                              [value]="tableResToDetailSpotify[j][0].popularity"
                            >
                            </mat-progress-spinner>
                            <span class="popularity_number">{{
                              tableResToDetailSpotify[j][0].popularity
                            }}</span>
                          </div>
                        </div>
                        <div
                          class="tab_element_combo"
                          *ngIf="
                            tableResToDetailSpotify[j][0].followers &&
                            tableResToDetailSpotify[j][0].followers.total
                          "
                        >
                          <div class="tab_element_combo_title1">Followers</div>
                          <div class="partial_num">
                            {{
                              tableResToDetailSpotify[j][0].followers.total
                                | number
                            }}
                          </div>
                        </div>
                        <div
                          class="tab_element_combo"
                          *ngIf="
                            tableResToDetailSpotify[j][0].external_urls &&
                            tableResToDetailSpotify[j][0].external_urls.spotify
                          "
                        >
                          <div class="tab_element_combo_title1">
                            Spotify Link
                          </div>
                          <a
                            [href]="
                              tableResToDetailSpotify[j][0].external_urls
                                .spotify
                            "
                            target="_blank"
                          >
                            <i
                              class="fa fa-spotify"
                              style="
                                color: #439a1d;
                                font-size: 50px;
                                margin-top: 25px;
                              "
                            ></i>
                          </a>
                        </div>
                      </div>
                      <div class="tab_container_second_row">
                        <div class="feature_text">
                          Album featuring
                          {{ tableResToDetailSpotify[j][0].name }}
                        </div>
                        <div
                          class="image_combo_line"
                          *ngIf="
                            tableResToDetailSpotify[j][1].body.items &&
                            tableResToDetailSpotify[j][1].body.items.length > 0
                          "
                        >
                          <img
                            [src]="
                              tableResToDetailSpotify[j][1].body.items[0]
                                .images[1].url
                            "
                            class="album_image"
                            *ngIf="
                              tableResToDetailSpotify[j][1].body.items[0] &&
                              tableResToDetailSpotify[j][1].body.items[0].images
                                .length > 0 &&
                              tableResToDetailSpotify[j][1].body.items[0]
                                .images[1] &&
                              tableResToDetailSpotify[j][1].body.items[0]
                                .images[1].url
                            "
                          />
                          <img
                            [src]="
                              tableResToDetailSpotify[j][1].body.items[1]
                                .images[1].url
                            "
                            class="album_image"
                            *ngIf="
                              tableResToDetailSpotify[j][1].body.items[1] &&
                              tableResToDetailSpotify[j][1].body.items[1].images
                                .length > 0 &&
                              tableResToDetailSpotify[j][1].body.items[1]
                                .images[1] &&
                              tableResToDetailSpotify[j][1].body.items[1]
                                .images[1].url
                            "
                          />
                          <img
                            [src]="
                              tableResToDetailSpotify[j][1].body.items[2]
                                .images[1].url
                            "
                            class="album_image"
                            *ngIf="
                              tableResToDetailSpotify[j][1].body.items[2] &&
                              tableResToDetailSpotify[j][1].body.items[2].images
                                .length > 0 &&
                              tableResToDetailSpotify[j][1].body.items[2]
                                .images[1] &&
                              tableResToDetailSpotify[j][1].body.items[2]
                                .images[1].url
                            "
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a
                  class="carousel-control-prev"
                  href="#carouselExampleControls"
                  role="button"
                  data-slide="prev"
                  *ngIf="tableResToDetailSpotify.length > 1"
                >
                  <span
                    class="material-symbols-outlined"
                    style="bottom: 50%; color: black; font-size: 55px"
                  >
                    chevron_left
                  </span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#carouselExampleControls"
                  role="button"
                  data-slide="next"
                  *ngIf="tableResToDetailSpotify.length > 1"
                >
                  <span
                    class="material-symbols-outlined"
                    style="bottom: 50%; color: black; font-size: 55px"
                  >
                    chevron_right
                  </span>
                </a>
              </div>
            </mat-tab>
            <!-- This is the third tab -->
            <mat-tab label="Venue">
              <div class="event_tab">
                <div class="event_tab_left" *ngIf="tableResToDetailVenue">
                  <div
                    id="Name"
                    class="event_element"
                    *ngIf="tableResToDetailVenue && tableResToDetailVenue.name"
                  >
                    <label class="event_element_label">Name</label>
                    <div class="event_element_text">
                      {{ tableResToDetailVenue.name }}
                    </div>
                  </div>
                  <div
                    id="Address"
                    class="event_element"
                    *ngIf="tableResToDetailVenue"
                  >
                    <label class="event_element_label">Address</label>
                    <div class="event_element_text">
                      {{
                        (tableResToDetailVenue.address &&
                        tableResToDetailVenue.address.line1
                          ? tableResToDetailVenue.address.line1 + ","
                          : "") +
                          (tableResToDetailVenue.city &&
                          tableResToDetailVenue.city.name
                            ? tableResToDetailVenue.city.name
                            : "") +
                          (tableResToDetailVenue.state &&
                          tableResToDetailVenue.state.name
                            ? ", " + tableResToDetailVenue.state.name
                            : "")
                      }}
                    </div>
                  </div>
                  <div
                    id="Phone"
                    class="event_element"
                    *ngIf="
                      tableResToDetailVenue &&
                      tableResToDetailVenue.boxOfficeInfo &&
                      tableResToDetailVenue.boxOfficeInfo.phoneNumberDetail
                    "
                  >
                    <label class="event_element_label">Phone Number</label>
                    <div class="event_element_text">
                      {{
                        tableResToDetailVenue.boxOfficeInfo.phoneNumberDetail
                      }}
                    </div>
                  </div>
                </div>
                <div class="event_tab_left1" *ngIf="tableResToDetailVenue">
                  <!-- The show more logic reference from stackblitz -->
                  <div
                    id="open_hours"
                    class="event_element"
                    *ngIf="
                      tableResToDetailVenue &&
                      tableResToDetailVenue.boxOfficeInfo &&
                      tableResToDetailVenue.boxOfficeInfo.openHoursDetail
                    "
                  >
                    <label class="event_element_label">Open Hours</label>
                    <p class="event_element_text" style="margin-bottom: 0rem">
                      {{
                        expand
                          ? tableResToDetailVenue.boxOfficeInfo.openHoursDetail
                          : (tableResToDetailVenue.boxOfficeInfo.openHoursDetail
                            | slice : 0 : 90)
                      }}
                    </p>
                    <a
                      href="javascript:;"
                      class="showMoreLink"
                      *ngIf="!expand"
                      (click)="onExpand()"
                      >Show More
                      <span class="material-symbols-outlined">
                        expand_more
                      </span></a
                    >
                    <a
                      href="javascript:;"
                      class="showMoreLink"
                      *ngIf="expand"
                      (click)="onExpand()"
                      >Show Less
                      <span class="material-symbols-outlined">
                        expand_less
                      </span>
                    </a>
                  </div>
                  <div
                    id="general_rule"
                    class="event_element"
                    *ngIf="
                      tableResToDetailVenue &&
                      tableResToDetailVenue.generalInfo &&
                      tableResToDetailVenue.generalInfo.generalRule
                    "
                  >
                    <label class="event_element_label">General Rule</label>
                    <p class="event_element_text" style="margin-bottom: 0rem">
                      {{
                        expand1
                          ? tableResToDetailVenue.generalInfo.generalRule
                          : (tableResToDetailVenue.generalInfo.generalRule
                            | slice : 0 : 90)
                      }}
                    </p>
                    <a
                      href="javascript:;"
                      class="showMoreLink"
                      *ngIf="!expand1"
                      (click)="onExpand1()"
                      >Show More
                      <span class="material-symbols-outlined">
                        expand_more
                      </span></a
                    >
                    <a
                      href="javascript:;"
                      class="showMoreLink"
                      *ngIf="expand1"
                      (click)="onExpand1()"
                      >Show Less
                      <span class="material-symbols-outlined">
                        expand_less
                      </span>
                    </a>
                  </div>
                  <div
                    id="child_rule"
                    class="event_element"
                    *ngIf="
                      tableResToDetailVenue &&
                      tableResToDetailVenue.generalInfo &&
                      tableResToDetailVenue.generalInfo.childRule
                    "
                  >
                    <label class="event_element_label">Child Rule</label>
                    <p class="event_element_text" style="margin-bottom: 0rem">
                      {{
                        expand2
                          ? tableResToDetailVenue.generalInfo.childRule
                          : (tableResToDetailVenue.generalInfo.childRule
                            | slice : 0 : 90)
                      }}
                    </p>
                    <a
                      href="javascript:;"
                      class="showMoreLink"
                      *ngIf="!expand2"
                      (click)="onExpand2()"
                      >Show More
                      <span class="material-symbols-outlined">
                        expand_more
                      </span></a
                    >
                    <a
                      href="javascript:;"
                      class="showMoreLink"
                      *ngIf="expand2"
                      (click)="onExpand2()"
                      >Show Less
                      <span class="material-symbols-outlined">
                        expand_less
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="showMapButtonDiv">
                <button
                  class="buttonShow"
                  data-toggle="modal"
                  data-target="#staticBackdrop"
                >
                  Show venue on Google Map
                </button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <!-- The modal part and Map part reference from bootstrap docs and given tutorial -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content" style="width: 100%">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Event Venue</h5>
            </div>
            <div class="modal-body">
              <div
                class="my-google-map"
                *ngIf="tableResToDetailVenue && mapOptions && marker"
              >
                <google-map width="100%" height="100%" [options]="mapOptions">
                  <map-marker [position]="marker.position"></map-marker>
                </google-map>
              </div>
            </div>
            <div class="modal-footer" style="justify-content: flex-start">
              <button
                type="button"
                class="btn btn-secondary"
                style="background-color: black"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
