@media (min-width: 400px) {
  .seatMapImage {
    height: 300px;
    max-width: 100%;
  }
  .event_tab {
    margin-left: 60px;
    margin-right: 60px;
  }
  .event_tab_left1 {
    max-width: 55%;
  }
  .tab_element_combo_title1 {
    margin-top: 40px;
  }
  .tab_container {
    margin-inline: 100px;
  }
}
@media (max-width: 395px) {
  .event_tab {
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
  }
  .noResultArtist {
    flex-wrap: wrap;
  }
  .event_tab_right {
    width: 100%;
  }
  .event_tab_left {
    width: 100%;
  }
  .event_tab_left1 {
    width: 100%;
  }
  img {
    margin-top: 5%;
    width: 100%;
    max-width: none;
  }
  .icon-box {
    margin-top: 6%;
    height: 100%;
  }
  .event_element {
    width: 100%;
  }
  .tab_element_combo {
    width: 100%;
  }
  .card-title {
    margin-top: 6%;
    flex: 1;
    font-size: 1.25rem;
    text-align: center;
  }
  .facebook_image {
    text-align: center;
  }
  .tab_container_first_row {
    flex-direction: column;
  }
  .tab_element_combo_title1 {
    margin-top: 20px;
  }
  .image_combo_line {
    flex-direction: column;
  }
  .image_combo_line img {
    margin-top: 20px;
    margin-inline: auto;
  }
  .feature_text {
    width: 100%;
    text-align: center;
  }
}
.card {
  background-color: rgba(255, 255, 255, 0.184);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  width: 100%;
  min-height: 420px;
  margin-inline: auto;
  margin-top: 100px;
  color: white;
}
.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  position: relative;
}
.noResult {
  margin-top: 100px;
  text-align: center;
  margin-inline: auto;
  color: red;
  font-weight: 500;
  font-size: larger;
  background-color: white;
  max-width: 60%;
  height: 30px;
  border-radius: 15px;
}
.noResultArtist {
  margin-top: 100px;
  text-align: center;
  white-space: normal;
  margin-inline: auto;
  color: red;
  font-weight: 500;
  font-size: larger;
  background-color: white;
  max-width: 60%;
  border-radius: 15px;
}
.back {
  position: absolute;
  left: 1%;
  top: 1%;
  cursor: pointer;
}
.back_text {
  text-decoration: underline;
}
.back-arrow {
  font-size: 120%;
  text-decoration: none;
}
.icon-box {
  width: 40px;
  background-color: white;
  border-radius: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.carousel-item active {
  margin: 10px;
}
.tab_container {
  margin-top: 20px;
  margin-bottom: 70px;
}
.tab_container_first_row {
  display: flex;
  justify-content: space-between;
}
.tab_element_combo {
  text-align: center;
}
.tab_element_combo_title {
  font-size: 26px;
  font-weight: 500px;
  color: rgb(146, 224, 200);
}
.tab_element_combo_title1 {
  font-size: 22px;
  font-weight: 500px;
  color: rgb(146, 224, 200);
}
.feature_text {
  font-size: 20px;
  font-weight: 500;
  color: rgb(146, 224, 200);
  margin: 10px;
  margin-left: 0px;
}
.album_image {
  height: 175px;
  width: 175px;
}
.custom_size {
  transform: scale(0.5);
}
.spinnner_box {
  display: inline-block;
  position: relative;
}
.popularity_number {
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.partial_num {
  font-weight: 500;
  margin-top: 25px;
}
.image_combo_line {
  display: flex;
  justify-content: space-between;
}
.filled {
  color: rgb(248, 46, 46);
}
h4 {
  padding-right: 2.5%;
  margin-bottom: 0.5%;
}
.card-body {
  padding: 0px;
}
.event_element {
  margin-top: 10px;
}
.event_element_label {
  font-size: 20px;
  font-weight: 600px;
  color: rgb(146, 224, 200);
  margin-bottom: 0px;
}
.event_element_text {
  color: white;
}
span.material-symbols-outlined {
  color: white;
  line-height: 0.6;
  position: absolute;
  bottom: 0px;
}
.event_tab {
  display: flex;
  justify-content: space-between;
}
.event_tab_left {
  margin-top: 20px;
  text-align: center;
}
.event_tab_left1 {
  margin-top: 20px;
  text-align: center;
}
.event_tab_right {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.facebook_image {
  text-align: center;
}
.showMapButtonDiv {
  text-align: center;
  margin-bottom: 30px;
}
.showMoreLink {
  color: rgb(16, 159, 199);
  text-decoration: underline;
  position: relative;
}
.buttonShow {
  background-color: red;
  padding: 8px;
  margin-top: 30px;
  border: 0px;
  font-weight: 500;
  color: white;
  border-radius: 6px;
}
.buttonShow:hover {
  background-color: rgb(193, 17, 17);
}
mat-tab-group {
  display: flex;
  justify-content: center;
}

mat-tab-labels {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.my-google-map {
  width: 100%;
  height: 400px;
}
.fa-twitter {
  color: rgb(28, 207, 247);
}
.tab_container_first_row .circle_image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
#staticBackdrop.modal {
  padding-right: 0 !important;
}
